#AnchorPane {

/*
@ToDo
change background later
-fx-background-image: url("../images/background.jpg");
 */

    -fx-background-color: transparent;
}


.image-view {
    -fx-background-color: purple;
}

.button {
    -fx-background-color: transparent;
}

.button:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;

    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 3;
}

.progress-bar {
    -fx-border-radius: 0 0 18 18;
}


.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, black, blue);
    -fx-progress-color: black;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
}

.slider .track {
    -fx-background-color: linear-gradient(to bottom, black, white);
}

.slider:focused .thumb{
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-border-radius: 16;
}



